<form [formGroup]="postForm">
    <mat-form-field>
        Title:
        <input matInput type="text" formControlName="title">
    </mat-form-field>
    <br/>
    <mat-form-field>
        Intro:
        <input matInput type="text" formControlName="intro">
    </mat-form-field>
    <br/>
    <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    
</form>

<div *ngIf="auth.user$ | async as user">
    <div *ngIf="editPostId">
        <br/>
        <label for="file">File:</label>
        <input type="file" (change)="upload($event, user)" accept=".png,.jpg" />
        <progress max="100" [value]="(uploadProgress | async)"></progress>
        <br/>
    </div>
</div>
<br/>
<button mat-button (click)="save()">Save</button>
<button mat-button (click)="new()">Clear</button>
<p></p>

<h2>Your Posts</h2>

<div id="posts">
    <div class="post" *ngFor="let post of posts | async">
        <app-post [post]="post.payload"></app-post>
     </div>
</div>
