.jumbotron {
    background-image:url(https://source.unsplash.com/1200x500/?roorkee,haridwar,uttarakhand);
    background-size: 100%;
}

.smalltron {
    background-image:url(https://source.unsplash.com/500x200/?roorkee,haridwar,uttarakhand);
    background-size: 100%;
}