#photos {
    .photo {
        float: left;
        width: 250px;
        height: 250px;
    }
}

.addPhotos {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
}