<!doctype html>
<html lang="en">

{{>head title="Roorkee.org: Page not found !" staticResLevel=""}}

<body>
  <div class="container">
    {{>topNav}}
  </div>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">404 Page not found !</h2>
        </div><!-- /.blog-post -->

      </div><!-- /.blog-main -->

      {{>sidebar}}

    </div><!-- /.row -->

  </main><!-- /.container -->

  {{>footer}}
</body>

</html>