<!doctype html>
<html lang="en">

{{>head title=title staticResLevel="."}}

<body>
  <div class="container">
    {{>topNav}}
  </div>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">{{title}}</h2>
          <p class="blog-post-meta">January 1, 2020 by <a href="#">{{userName}}</a></p>
          <img src="{{id}}.jpg" style="max-width:500px"/>
          <p>{{{body}}}</p>
        </div><!-- /.blog-post -->

      </div><!-- /.blog-main -->

      {{>sidebar}}

    </div><!-- /.row -->

  </main><!-- /.container -->

  {{>footer}}
</body>

</html>